<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uab.es.cat.foodnetwork" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAJFiv12vkWOFRmn6LkwMbOzPkLyw3ckpk" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".MainDonateActivity"
            android:label="@string/title_activity_main_donate"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".MainReceptorActivity"
            android:label="@string/title_activity_main_receptor"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".FoodDonationActivity"
            android:label="@string/title_activity_food_donation"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".DonationsActivity"
            android:label="@string/title_activity_donations" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllDonationsMapActivity"
            android:label="@string/title_activity_all_donations_map"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
    </application>

</manifest>
